.product-info {
  height: 300px;
}

.product-info-detail {
  width: 100%;
  height: 3000px;
  background: linear-gradient(darkgray, palegreen);
}

.fixed-tab {
  background-color: darksalmon;
  border: 1px solid black;
  top: 0;
  position: sticky;
}

.fixed-tab ul li {
  display: inline-block;
}

/* text-align이 안되는 이유? */
.fixed-tab ul li .product-info-tab {
  margin: 0 100px;
  text-decoration: none;
  font-weight: bold;
}
.fixed-tab ul li .benefit-tab {
  margin: 0 100px;
  text-decoration: none;
  font-weight: bold;
}
.fixed-tab ul li .review-tab {
  margin: 0 100px;
  text-decoration: none;
  font-weight: bold;
}
.fixed-tab ul li .recommend-tab {
  margin: 0 100px;
  text-decoration: none;
  font-weight: bold;
}

/* vw,vh는 그냥 단위일뿐..! 대신 height와 line-height의 단위는 통일해야한다. */
.top-btn {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: brown;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 30px;
  bottom: 30px;
  line-height: 5vw;
  text-align: center;
}
/* 리더님 코드 */
/*  body {
        margin: 0;
        padding: 0;
        height: 100000px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      a {
        color: black;
        text-decoration: none;
      }

      .product-info {
        height: 50vh;
        background-color: antiquewhite;
      }

      .product-info-detail {
        height: 600px;
        background-color: aquamarine;
      }

      .fixed-tab {
        position: sticky;
        top: 0;
        background-color: pink;
      }
      
      .fixed-tab ul{
        display:flex;
        justify-content : space-around;
    }

      .fixed-tab li {
         // display: inline-block;
        height: 100%;
        margin: 0;
        text-align: center;
      }

      .fixed-tab a {
        border: 1px solid black; 
        display: block;
        padding: 10px 0;
      }

      .top-btn {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: lightgreen;
        text-align: center;
        line-height: 50px;
      } 
*/
