.body {
  margin: 0;
  padding: 0;
}

.ball {
  width: 100px;
  height: 100px;
  /* 배경색 그라데이션 및 그림자 적용 */
  background: linear-gradient(45deg, coral, yellow, 70%, orangered);
  box-shadow: -5px 5px 10px inset rgb(203, 197, 197, 0.5);
  border-radius: 50%;
  animation: roll 10s linear infinite;
}

@keyframes roll {
  0% {
    /* position 사용 가능 */
    transform: translate(0px);
  }
  25% {
    transform: translate(calc(100vw - 100px), 0px);
  }
  50% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  75% {
    transform: translate(0, calc(100vh - 100px));
  }
  100% {
    transform: translate(0px);
  }
}
/* '글자움직이기' 위에 여백을 준다. +공 원래 부분 위치와 합해짐 
    100px : 공 높이 */
h2 {
  margin-top: calc(100vh - 100px);
}

p {
  animation: slidein 3s infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}
