* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}

header .inner {
  position: relative;
  height: 100%; /* 100px이다. 부모인 header의 높이가 100이므로 */
  margin: auto;
  max-width: 1200px;
  padding: 0 1.5rem;
}

header .inner .logo {
  line-height: 100px;
  position: absolute;
  /* i는 font-size로 크기 조정 */
  font-size: 50px;
  color: aliceblue;
}

header .inner .menu {
  display: flex;
  justify-content: center;
  /* 리더님 코드 - 중앙정렬 추가  */
  /* height: 100%;
  align-items: center; */
}
header .inner .menu li {
  /* margin-right: 20px; */
  padding: 10px;
  margin-top: 30px;
  font-weight: bold;
}

header .small-menu,
header .menu-bar {
  display: none;
}

/* 미디어쿼리 - 모바일 */
@media screen and (max-width: 768px) {
  /* 리더님 수정 - html에서 메뉴바를 inner 안에 넣는다.(로고와 같이 움직이기 위해) */
  .menu-bar {
    position: absolute;
    font-size: 20px;
    /* 리더님 코드 */
    /* line-height: 100px; */
    /* right: 5%; */
    top: 20px;
    right: 0;
    display: flex;
    padding: 20px;

    /* background-color: rgba(135, 206, 250, 0.401); */
    /* position: relative;
    display: flex;
    font-size: 20px;
    padding: 10px;
    justify-content: end; */
  }
  header .inner .logo {
    /* 아이콘은 50px이므로 가운데정렬 하려면 25px을 빼줘야 한다. */
    /* left: calc(50% - 25px); */
    position: relative;
    display: flex;
    justify-content: center;
  }

  header .small-menu {
    /* 이제는 display : flex를 써주는 것이 좋다! */
    /* display: flex; */
    /* flex-direction: column; */
    display: block;
    background-color: rgba(135, 206, 250, 0.401);

    padding: 10px;
    line-height: 40px;
    text-align: center;
  }

  /* header .small-menu li {
    background-color: aliceblue;
    height: 60px;
    text-align: center;
    line-height: 60px;
  } */

  header .small-menu li:hover {
    background-color: rgb(4, 86, 158);
    color: white;
    cursor: pointer;
  }
  /* 우선순위는 길수록 나타나므로 수정해줄 것! */
  header .inner .menu {
    display: none;
  }
}
