/* FunPrac css */
* {
  margin: 10px;
  background-color: beige;
}
.intro {
  text-align: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
}
.img {
  width: 30%;
  height: 30%;
  display: flex;
}

.intro {
  color: orange;
  font-size: 35px;
  font-weight: bold;
}
.title {
  font-size: 35px;
  font-weight: bold;
}
