body {
  background-color: greenyellow;
}

caption > h3.title {
  color: green;
  font-size: x-large;
}
table {
  text-align: center;
}

th,
tr {
  text-align: center;
}
.sunday {
  color: red;
}

.saturday {
  color: blue;
}

.newYear {
  color: red;
}
